{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <div id="buttons">
            <button id="procura_aluno">Procurar um aluno</button>
            <button id="add_aluno">Adicionar professores</button>
            <button id="update">Atualizar informções do curso</button>
            <button id="delete">Deletar matérias</button>
        </div>
        <div id="edit">
            <button class="voltar">voltar</button>
            {% for c in cursos %}
            <div>
                {{ c.nome }} <a href="{% url 'edit' c.id %}">Editar</a>
            </div>
            {% endfor %}
        </div>
        <div id="proc">
            <button class="voltar">voltar</button>
            <form action="{% url 'search' %}" method="post" id="proc_form">
                {% csrf_token %}
                <input placeholder="Digite o RA de um aluno" name="RA">
                <button type="submit">Procurar</button>
            </form>


        </div>
        <div id="add">
            <button class="voltar">voltar</button>
            <form id="campos" action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <label>Nome</label> <input id="nome" name="nome" >
                <label>RP</label> <input id="RP" name="RP">
                <button type="submit">Enviar</button>
            </form>
  
        </div>

        <div id="del">
            <button class="voltar">voltar</button>
            {% for a in materias %}
            <div>
                {{ a.nome }} <a href="{% url 'del' a.id %}">Excluir</a>
            </div>
            {% endfor %}

        </div>

        <script src="{% static 'script.js' %}"></script>
    </body>
</html>