{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{{professor.nome}}</title>
    </head>
    <body>
        <div id="conteudo">
            <a href="{% url 'index' %}">Voltar</a>
            <h1>{{professor.nome}}</h1>
            <h4>RP: {{professor.RP}}</h4>
    
            <h2>Materias:</h2>
            <ul>
                {% for materia in materias %}
                    <li><a href="{% url 'edit_materia' materia.id %}">{{ materia.nome }}</a></li>
                {% endfor %}
            </ul>
            <button id="edit">Editar</button>
        </div>
        <div id="editar">
            <button id="voltar">Voltar</button>
            <form action="{% url 'edit_prof' professor.id %}" method="post">
                {% csrf_token %}
                <span>Nome</span><input name="nome" value="{{professor.nome}}" placeholder="{{professor.nome}}">
                
                <button id="add_mat" class="btn btn-success">Adicionar matérias </button>
                <button id="del_mat">Deletar matérias</button>
                <br>
                <div id="add_materia">
                    <label>Adicionar materia à grade do professor</label>
                    <select name="ad_materias" >
                        <option value=""></option>
                        {% for outros in outras_mat %}
                        <option value="{{outros.id}}">{{outros.nome}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
                <div id="delete_materias">
                    <label>Deletar materia da grade do professor</label>
                    <select name="del_materias" >
                        <option value=""></option>
                        {% for m in materias %}
                        
                        <option value="{{m.id}}">{{m.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <script src="{% static 'professor.js' %}"></script>
    </body>
</html>